html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-background-color: #FFFFFF;
    --primary-text-darkbackground-color: #FFFFFF;
    --secondary-text-darkbackground-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --darkbackground-color: #2F303A;
    --lightbackground-color: #F5F4FA;
    --dark-logo-color: #000000;
    --hero-button-hover-accent-color: #188CE8;
    --border-header-color: #ECECEC;
    --border-portfolio-color: #EEEEEE; 
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    color: var(--secondary-text-color);
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Header */

.header-container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--primary-background-color);
    border-bottom: 1px solid var(--border-header-color);
}

.logo-header {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-logo-color);
    margin-right: 93px;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    color: var(--accent-color);
}

.list-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: auto;

}

.list-nav .item {
    margin-right: 50px;
}

.list-nav .item:last-child {
    margin-right: 0;
}

.list-nav .contact+ .contact {
    margin-left: 50px;
}


.link-item {
    color: var(--secondary-text-color);
}

.link-item:hover,
.link-item:focus {
    color: var(--accent-color);
}

.link-current {
    color: var(--accent-color);
}

.header-contact {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

.link-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Hero */

.hero {
    background-color: var(--darkbackground-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-darkbackground-color);
    width: 696px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-text-darkbackground-color);
    background-color: var(--accent-color);
    display: inline-block;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    border-radius: 4px;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hero-button-hover-accent-color);
    cursor: pointer;
}

/* Features */

.features {
    background-color: var(--primary-background-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-background{
    background-color: var(--lightbackground-color);
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    margin-bottom: 30px;
}

.features-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.features-li {
    margin-right: 30px;
    flex-basis: calc(100% / 4 - 30px);
}

.features-li:last-child {
    margin-right: 0;
}

/* Work */

.work {
    background-color: var(--primary-background-color);
    padding-bottom: 94px;
}

.our-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
}

.image {
    margin-right: 30px;
}

.image:last-child {
    margin-right: 0;
}

/* Team */

.team {
    background-color: var(--lightbackground-color);
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.card {
    background-color: var(--primary-background-color);
    margin-right: 30px;
    flex-basis: calc(100% / 4 - 30px);
}

.card:last-child {
    margin-right: 0;
}

.card-descr {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/* Footer */

.footer {
    background-color: var(--darkbackground-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-darkbackground-color);
    margin-bottom: 20px;
    display: inline-block;
}

.footer-info .item {
    margin-bottom: 9px;
}

.footer-info .item:last-child {
    margin-bottom: 0;
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-darkbackground-color);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color);
}

.footer-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-darkbackground-color);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

/* Cторінка Portfolio */

.portfolio {
    background-color: var(--primary-background-color);
}

.filtr-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filtr-list .item{
    margin-right: 8px;
}

.filtr-list .item:last-child {
    margin-right: 0;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background-color: var(--lightbackground-color);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    min-width: 73px;
}

.button:hover,
.button:focus {
    color: var(--primary-text-darkbackground-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.project-list .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.project-list .link {
    display: block;
    border: 1px solid var(--border-portfolio-color);
}

.project-descr {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.portfolio-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.project-caps{
text-transform: uppercase;
}

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

